<body>
<div class="header">
<a class="nav" href="/"><img class="imgnav" src="/assets/frontierAlt.svg"></a>
<a class="active" href="/users/sign_up">Register</a>
<a class="nav" href="/users/sign_in">Log In</a>
<hr class="header-line">
</div>
<div class="layout">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
<br>
<p>Already have an Account?  <%= link_to "Log in", new_session_path(resource_name) %></p>
</div>
</body>
