<body>
<div class="header">
<a class="nav" href="/"><img class="imgnav" src="/assets/frontierAlt.svg"></a>
<% if user_signed_in? %>
  <%= link_to('Profile', edit_user_registration_path, class: "nav") %>
  <%= link_to 'List Car', new_car_path, class: "nav"%>
  <%= link_to('Log Out', destroy_user_session_path, :method => :delete, class: "nav") %>      
<% else %>
  <%= link_to('Register', new_user_registration_path, class: "nav") %>
  <%= link_to('Log In', new_user_session_path, class: "active")%> 
<% end %>
<hr class="header-line">
</div>
<div class="layout">

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
      <p><%= f.check_box :remember_me %>  Remember me</p>
  <% end -%>



  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= link_to "Forgot your password?", new_password_path(resource_name) %>
</div>
</body>
