<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :First %>
    <%= f.text_field :First %>
  </div>

  <div class="field">
    <%= f.label :Last %>
    <%= f.text_field :Last %>
  </div>

  <div class="field">
    <%= f.label :Street %>
    <%= f.text_field :Street %>
  </div>

  <div class="field">
    <%= f.label :City %>
    <%= f.text_field :City %>
  </div>

  <div class="field">
    <%= f.label :Country %>
    <%= f.text_field :Country %>
  </div>

  <div class="field">
    <%= f.label "Drivers License's #" %>
    <%= f.text_field :DL %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
