<p id="notice"><%= notice %></p>

<p>
  <strong>First:</strong>
  <%= @user.First %>
</p>

<p>
  <strong>Last:</strong>
  <%= @user.Last %>
</p>

<p>
  <strong>Street:</strong>
  <%= @user.Street %>
</p>

<p>
  <strong>City:</strong>
  <%= @user.City %>
</p>

<p>
  <strong>Country:</strong>
  <%= @user.Country %>
</p>

<p>
  <strong>DL#:</strong>
  <%= @user.DL %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
