<head>
	<link href="application.scss" type="text/css" />
	<style>


img.hero {
	margin-top: 2%;
	margin-left: -70%;
	z-index: 0;
	position: relative;
	width: 1066px;
	height: 800px;
}

.hero {
	position: absolute;
	z-index: 0;
	height: 0px;
	width: 100%;
	padding-bottom: 177.5%;
	overflow: hidden;
}

input[type=text] {
		padding-left: 20px;
		padding-bottom: 10px;
		padding-right: 20px;
		padding-top: 10px;
		margin-left: 0;
		margin-bottom: 27px;
		margin-right: 0;
		margin-top: 5px;
		width: 80%;
		font-size: 110%;
		font-family: avenir, "Lucida Grande", Verdana, Arial, sans-serif;
    	display: inline-block;
    	border: 2px solid #ccc;
    	border-radius: 5px;
    	box-sizing: border-box;
    	position: relative;
    	z-index: 1;
    	
}

 .text{
    font-size: 56px;
    text-align: center;
    font-family: Avenir, "Lucida Grande", Verdana, Arial, sans-serif;
    line-height: 60px;
    color: white; 
    text-shadow: 2px 2px 8px black;
  }

  .wrapper {
  	margin-top: 4em;
    position: absolute;
    z-index: 1;
  }


</style>
<script type="text/javascript">
    $(window).on('load resize',function(){
        if($(window).width() > 800){
            window.location = "/"
        }
    });
</script>
</head>

<body>
<div class="header">
<a class="active" href="/"><img class="imgnavAct" src="/assets/frontierAlt.svg"></a>
<% if user_signed_in? %>
	<%= link_to('Profile', edit_user_registration_path, class: "nav") %>
	<%= link_to 'List Car', new_car_path, class: "nav"%>
	<%= link_to('Log Out', destroy_user_session_path, :method => :delete, class: "nav") %>      
<% else %>
	<%= link_to('Register', new_user_registration_path, class: "nav") %>
	<%= link_to('Log In', new_user_session_path, class: "nav")%> 
<% end %>
<hr class="header-line">
</div>
<div class="hero">
	<img class="hero" src="/assets/hero.jpg" alt="Hero">	
</div>
<div class="wrapper">
	<h1 class="text">Where are you going next?</h1>
	<form action="/iphone/search">
		<input type="text" name="location" placeholder="Destination, city, address" autocomplete="off" id="search-location" value="">
		<input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;" tabindex="-1" />
	</form>
</div>
</body>

