<head>
	<link href="application.scss" type="text/css" />
	<style>


img.hero {
	margin-top: 2%;
	margin-left: 0px;
	margin-right: 0px;
	z-index: 0;
	position: relative;
	width: 100%;
}

 h1{
    font-size: 56px;
    font-family: Avenir, "Lucida Grande", Verdana, Arial, sans-serif;
    line-height: 40px;
    margin-top: -55%;
    position: relative;
    color: white; 
    text-shadow: 2px 2px 8px grey;
    z-index: 1;
  }


</style>
</head>

<body>
<div class="header">
<a class="active" href="/">Home</a>
<a class="nav" href="/search">Search</a>
<% if user_signed_in? %>
	<%= link_to('Profile', edit_user_registration_path, class: "nav") %>
	<%= link_to 'List Car', new_car_path, class: "nav"%>
	<%= link_to('Log Out', destroy_user_session_path, :method => :delete, class: "nav") %>      
<% else %>
	<%= link_to('Register', new_user_registration_path, class: "nav") %>
	<%= link_to('Log In', new_user_session_path, class: "nav")%> 
<% end %>
<hr class="header-line">
</div>
<img class="hero" src="/assets/hero.JPG" alt="Hero">
<h1 align="center">Where are you going next?</h1>
<div class="wrapper">
<form action="/search">
<input type="text" name="location" placeholder="Destination, city, address" autocomplete="off" id="search-location" value="">
<input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;" tabindex="-1" />
</form>
</div>
</body>

