<body>
<div class="header">
<a class="nav" href="/"><img class="imgnav" src="/assets/frontierAlt.svg"></a>
<% if user_signed_in? %>
  <%= link_to('Profile', edit_user_registration_path, class: "nav") %>
  <%= link_to 'List Car', new_car_path, class: "active"%>
  <%= link_to('Log Out', destroy_user_session_path, :method => :delete, class: "nav") %>      
<% else %>
  <%= link_to('Register', new_user_registration_path, class: "nav") %>
  <%= link_to('Log In', new_user_session_path, class: "nav")%> 
<% end %>
<hr class="header-line">
</div>
<div class="layout" align="center">
<p id="notice"><%= notice %></p>

<p>
  <strong>Model:</strong>
  <%= @car.model %>
</p>

<p>
  <strong>Make:</strong>
  <%= @car.make %>
</p>

<p>
  <strong>Door:</strong>
  <%= @car.door %>
</p>

<p>
  <strong>Year:</strong>
  <%= @car.year %>
</p>

<p>
  <strong>Price (in $):</strong>
  <%= @car.price %>
</p>

<p>
  <strong>Location:</strong>
  <%= @car.location %>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', new_car_path %>
</div>
</body>
