<!DOCTYPE html>
<html>
  <head>
  <%= stylesheet_link_tag "welcome" if controller_name == "welcome" %>
    <title>Frontier</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
